<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1064234941846-ivffd229c6s8tenod69ga1930vidrif8</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Uygulamanızın konumunuza erişmesine izin verin.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Uygulama konumunuzu kullanacak.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotoğraflarınıza erişim izni gereklidir</string>
	<key>NSCameraUsageDescription</key>
	<string>Kamera kullanım izni gereklidir</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>Privacy - Notifications Usage Description</key>
	<string>Seyahat hatırlatmaları için bildirim izni gereklidir</string>
</dict>
</plist>
